.hamburger:hover > div:nth-child(1) {
  background-color: ghostwhite;
  animation: top 1s forwards;
  /* name - duration - fill-mode */
}

.hamburger:hover > div:nth-child(2) {
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3) {
  background-color: ghostwhite;
  animation: bottom 1s forwards;
  /* name - duration - fill-mode */
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover~nav {
  opacity: 1;
}

@keyframes top {
  from { transform: rotate(0); }
  to { transform: translateY(34px) rotate(45deg); }
}

@keyframes middle {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes bottom {
  from { transform: rotate(0); }
  to { transform: translateY(-34px) rotate(-45deg); }
}